.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1rem;
  height: 1rem;
  font-size: 0.33rem;

  // border: 1px solid black;
  border-top: 1px solid $board-layout-color;
  border-left: 1px solid $board-layout-color;

  &:first-child {
    border-left-width: 0;
  }

  &.live {
    background: black;
    color: white;
  }
  &.dead {
    background: transparent;
  }
}
