@import "vars.scss";

#gameoflife {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas:
    "title sider"
    "board sider";

  h1 {
    grid-area: title;
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .board-wrapper {
    grid-area: board;
    min-width: 600px;
  }
  .sider {
    grid-area: sider;
  }
  @import "board.scss";
  @import "cell.scss";
  @import "command-panel.scss";
  @import "info-panel.scss";
}
